.lead {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 92px 0;
  width: 100%;
}

@media screen and (max-width: 1023px) {

  .lead {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {

  .lead {
    margin-bottom: 64px;
  }
}