.place__text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {

  .place__text {
    padding: 0 16px;
  }
}
