.cover__overlay {
  color: #fff;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  max-height: 840px;
  text-decoration: none;
}

.cover__overlay::before {
  background: #2A2C2F;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.cover__overlay::before:hover {
  opacity: 0.8;
}