.cover__overlay {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.cover__overlay:hover,
.cover__overlay:focus,
.cover__overlay:active {
  color: inherit;
}
