.cover__overlay {
  color: #fff;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  text-decoration: none;
  /* синхронно с "подложкой" (.cover__background),
   которое определет высоту блока своим padding */
  min-height: 62.5%;
}

.cover__overlay::before {
  background: #2A2C2F;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}