.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background-color: #2A2C2F;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  padding: 28px 48px 24px 48px;
  position: relative;
}

.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  width: 100%;
}

@media all and (min-width: 1280px) {

  .main {
    padding: 0 100px;
  }
}

@media all and (max-width: 1279px) {

  .page {
    max-width: 1024px;
    padding: 28px 48px 24px 48px;
  }
}

@media all and (max-width: 1023px) {

  .page {
    max-width: 768px;
    padding: 28px 24px 24px 24px;
  }
}

@media all and (max-width: 767px) {

  .page {
    padding: 16px 16px 24px 16px;
  }
}

/* HEADER */

.header {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
  position: relative;
  width: 100%;
}

.header__logo {
  height: 52px;
  margin-right: auto;
  width: 176px;
}

.header__lang-link {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 8px 18px;
  text-decoration: none;
}

.header__lang-link:hover,
.header__lang-link:focus,
.header__lang-link:active {
  color: inherit;
}

.header__lang-link_selected {
  text-decoration-thickness: 2px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media all and (min-width: 1279px) {

  .header {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {

  .header__logo {
    height: 42px;
    width: 142px;
  }

  .header__lang-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}

/* LEAD */

.lead {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.lead__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 0 0 32px 0;
  max-width: 720px;
  text-align: center;
}

.lead__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 56px 0;
  max-width: 640px;
  text-align: center;
}

.lead__image {
  max-width: 984px;
  min-width: 320px;
  object-fit: fill;
  width: 100%;
}

.lead__caption {
  align-self: flex-start;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 14px;
  margin: 8px 0 92px 0;
  text-transform: uppercase;
}

@media all and (min-width: 1279px) {

  .lead__title {
    margin-bottom: 2.5vw;
  }

  .lead__subtitle {
    margin-bottom: 5vw;
  }
}

@media screen and (max-width: 1023px) {

  .lead__image {
    width: 100vw;
  }

  .lead__caption {
    align-self: auto;
    margin-bottom: 88px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {

  .lead__title {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 16px;
    max-width: 288px;
  }

  .lead__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 288px;
  }

  .lead__caption {
    margin-bottom: 64px;
  }
}
