.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background-color: #2A2C2F;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  padding: 28px 48px 24px 48px;
  position: relative;
}

.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  width: 100%;
}

@media all and (min-width: 1280px) {

  .main {
    padding: 0 100px;
  }
}

@media all and (max-width: 1279px) {

  .page {
    max-width: 1024px;
    padding: 28px 48px 24px 48px;
  }
}

@media all and (max-width: 1023px) {

  .page {
    max-width: 768px;
    padding: 28px 24px 24px 24px;
  }
}

@media all and (max-width: 767px) {

  .page {
    padding: 16px 16px 24px 16px;
  }
}

/* HEADER */

.header {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
  position: relative;
  width: 100%;
}

.header__logo {
  height: 52px;
  margin-right: auto;
  width: 176px;
}

.header__lang-link {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 8px 18px;
  text-decoration: none;
}

.header__lang-link:hover,
.header__lang-link:focus,
.header__lang-link:active {
  color: inherit;
}

.header__lang-link_selected {
  text-decoration-thickness: 2px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media all and (min-width: 1279px) {

  .header {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {

  .header__logo {
    height: 42px;
    width: 142px;
  }

  .header__lang-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}

/* LEAD */

.lead {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.lead__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 0 0 32px 0;
  max-width: 720px;
  text-align: center;
}

.lead__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 56px 0;
  max-width: 640px;
  text-align: center;
}

.lead__image {
  max-width: 984px;
  min-width: 320px;
  object-fit: fill;
  width: 100%;
}

.lead__caption {
  align-self: flex-start;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 14px;
  margin: 8px 0 92px 0;
  text-transform: uppercase;
}

@media all and (min-width: 1279px) {

  .lead__title {
    margin-bottom: 2.5vw;
  }

  .lead__subtitle {
    margin-bottom: 5vw;
  }
}

@media screen and (max-width: 1023px) {

  .lead__image {
    width: 100vw;
  }

  .lead__caption {
    align-self: auto;
    margin-bottom: 88px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {

  .lead__title {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 16px;
    max-width: 288px;
  }

  .lead__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 288px;
  }

  .lead__caption {
    margin-bottom: 64px;
  }
}

/* INTRO */

.intro {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0 0 40px 0;
  min-width: 288px;
}

.intro__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 33px 0;
  min-width: 288px;
}

.intro__list {
  list-style-type: none;
  margin: 0 0 92px 0;
  padding: 0;
}

.intro__list-item {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.intro__list-item-count {
  font-weight: 400;
}


@media screen and (max-width: 1023px) {

  .intro__list {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {

  .intro__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
  }

  .intro__list {
    margin-bottom: 64px;
  }
}

/* PHOTO-GRID */

.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 0 92px 0;
  position: relative;
  width: 100%;
}

.photo-grid__item {
  width: 100%;
}

@media screen and (min-width: 1279px) {

  .photo-grid {
    width: 1184px;
  }
}

@media screen and (max-width: 1279px) {

  .photo-grid {
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 1023px) {

  .photo-grid {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {

  .photo-grid {
    gap: 12px;
    grid-template-columns: 1fr;
    margin-bottom: 64px;
  }
}

/* PLACES */

.places {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 0 92px 0;
  position: relative;
  row-gap: 80px;
  width: 100%;
}

.place {
  column-gap: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  row-gap: 48px;
  width: 100%;
}

.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  max-width: 460px;
  width: 100%;
}

.place__website {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.place__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 0 0 12px 0;
}

.place__link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  text-decoration-line: underline;
}

.place__link:hover,
.place__link:focus,
.place__link:active {
  color: inherit;
}

.place__image {
  width: 100%;
}

.place__text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  width: 100%;
}

.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1279px) {

  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {

  .places {
    margin-bottom: 90px;
    row-gap: 72px;
  }

  .place {
    column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    max-width: 95%;
  }
}

@media screen and (max-width: 767px) {

  .places {
    margin-bottom: 60px;
    row-gap: 50px;
  }

  .place {
    column-gap: 0;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
  }

  .place__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
  }

  .place__image {
    margin-left: -16px;
    width: calc(100% + 32px);
  }
}

/* COVER */

.cover {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 92px 0;
  max-width: 1184px;
  position: relative;
  width: 100%;
}

.cover__overlay {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.cover__overlay:hover,
.cover__overlay:focus,
.cover__overlay:active {
  color: inherit;
}

.cover__background {
  max-width: 1184px;
  min-width: 320px;
  opacity: 0.7;
}

.cover:hover .cover__background {
  cursor: pointer;
  opacity: 0.2;
}

.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0 0 32px 0;
  max-width: 560px;
}

.cover__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  max-width: 360px;
}

@media screen and (max-width: 1279px) {

  .cover__background {
    width: 100vw;
  }
}

@media screen and (max-width: 1023px) {

  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {

  .cover {
    margin-bottom: 64px;
  }

  .cover__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    margin-bottom: 16px;
    max-width: 288px;
    padding: 0 30px;
  }

  .cover__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    max-width: 288px;
  }
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.footer__nav {
  align-items: center;
  column-gap: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer__link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  color: inherit;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 0 auto;
  text-align: end;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {

  .footer__nav {
    align-items: flex-start;
    column-gap: 0;
    flex-direction: column;
    row-gap: 32px;
  }

  .footer__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  .footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-left: 0;
    margin-top: 16px;
  }
}
