.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
  /* отношение высоты к ширине исходного изображения (1280 / 2048) * 100 = 62.5 */
  padding-top: 62.5%;
}
