.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 0 48px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1023px) {

  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {

  .footer {
    flex-direction: column;
    padding: 0 16px;
  }
}
